<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#-1.--" data-toc-modified-id="-1.---0.1"><span class="toc-item-num">0.1&nbsp;&nbsp;</span> 1.  </a></span></li><li><span><a href="#-2.1--" data-toc-modified-id="-2.1---0.2"><span class="toc-item-num">0.2&nbsp;&nbsp;</span> 2.1  </a></span></li><li><span><a href="#-2.2------." data-toc-modified-id="-2.2------.-0.3"><span class="toc-item-num">0.3&nbsp;&nbsp;</span> 2.2      .</a></span></li><li><span><a href="#-2.3.---." data-toc-modified-id="-2.3.---.-0.4"><span class="toc-item-num">0.4&nbsp;&nbsp;</span> 2.3.   .</a></span></li><li><span><a href="#-2.4.--." data-toc-modified-id="-2.4.--.-0.5"><span class="toc-item-num">0.5&nbsp;&nbsp;</span> 2.4.  .</a></span></li><li><span><a href="#-2.5.----,---." data-toc-modified-id="-2.5.----,---.-0.6"><span class="toc-item-num">0.6&nbsp;&nbsp;</span> 2.5.    ,   .</a></span></li><li><span><a href="#-2.6.--." data-toc-modified-id="-2.6.--.-0.7"><span class="toc-item-num">0.7&nbsp;&nbsp;</span> 2.6.  .</a></span></li><li><span><a href="#-2.7.---." data-toc-modified-id="-2.7.---.-0.8"><span class="toc-item-num">0.8&nbsp;&nbsp;</span> 2.7.   .</a></span></li><li><span><a href="#--." data-toc-modified-id="--.-0.9"><span class="toc-item-num">0.9&nbsp;&nbsp;</span>  .</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#-1:" data-toc-modified-id="-1:-0.9.0.1"><span class="toc-item-num">0.9.0.1&nbsp;&nbsp;</span> 1:</a></span></li></ul></li></ul></li></ul></li><li><span><a href="#-:" data-toc-modified-id="-:-1"><span class="toc-item-num">1&nbsp;&nbsp;</span> :</a></span></li><li><span><a href="#---" data-toc-modified-id="----2"><span class="toc-item-num">2&nbsp;&nbsp;</span>   </a></span></li><li><span><a href="#--" data-toc-modified-id="---3"><span class="toc-item-num">3&nbsp;&nbsp;</span>  </a></span></li></ul></div>

#   .

<b> </b>

    .  ,              .         .

           ,        .

<b> </b>

- children     
- days_employed      
- dob_years     
- education    
- education_id    
- family_status   
- family_status_id    
- gender   
- income_type   
- debt       
- total_income   
- purpose

<b>:   </b>
-           ?
-           ?
-           ?
-          ?

###  1.

In [1]:
import pandas as pd

In [2]:
clients = pd.read_csv('data.csv')
clients.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,,0,/,0,F,,0,253875.639453,
1,1,-4024.803754,36,,1,/,0,F,,0,112080.014102,
2,0,-5623.422610,33,,1,/,0,M,,0,145885.952297,
3,3,-4124.747207,32,,1,/,0,M,,0,267628.550329,
4,0,340266.072047,53,,1,,1,F,,0,158616.077870,
5,0,-926.185831,27,,0,,1,M,,0,255763.565419,
6,0,-2879.202052,43,,0,/,0,F,,0,240525.971920,
7,0,-152.779569,50,,1,/,0,M,,0,135823.934197,
8,2,-6929.865299,35,,0,,1,F,,0,95856.832424,
9,0,-2188.756445,41,,1,/,0,M,,0,144425.938277,
10,2,-4171.483647,36,,0,/,0,M,,0,113943.491460,
11,0,-792.701887,40,,1,/,0,F,,0,77069.234271,
12,0,NaN,65,,1,,1,M,,0,NaN,
13,0,-1846.641941,54,,2,/,0,F,,0,130458.228857,
14,0,-1844.956182,56,,0,,1,F,,1,165127.911772,
15,1,-972.364419,26,,1,/,0,F,,0,116820.904450,
16,0,-1719.934226,35,,1,/,0,F,,0,289202.704229,
17,0,-2369.999720,33,,0,,1,M,,0,90410.586745,
18,0,400281.136913,53,,1,/,2,F,,0,56823.777243,
19,0,-10038.818549,48,,1,,3,F,,0,242831.107982,

In [3]:
clients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

**    days_employed  total_income**  #     :
#    ,     
#       ,         . ..     ,

In [4]:
#clients.loc[(clients['days_employed']=='NaN')&(clients['total_income']=='NaN')]
clients[clients['days_employed'].isna()].head(100)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
12,0,NaN,65,,1,,1,M,,0,NaN,
26,0,NaN,41,,1,/,0,M,,0,NaN,
29,0,NaN,63,,1,/,4,F,,0,NaN,
41,0,NaN,50,,1,/,0,F,,0,NaN,
55,0,NaN,54,,1,,1,F,,1,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...
959,0,NaN,25,,1,,1,M,,0,NaN,
973,0,NaN,49,,1,/,0,F,,0,NaN,
974,0,NaN,60,,1,/,0,M,,0,NaN,
978,3,NaN,28,,1,,1,F,,0,NaN,
980,0,NaN,53,,0,/,0,F,,0,NaN,

   ,     NaN    .
  )

In [5]:
clients.describe()

,children,days_employed,dob_years,education_id,family_status_id,debt,total_income
count,21525.000000,19351.000000,21525.000000,21525.000000,21525.000000,21525.000000,1.935100e+04
mean,0.538908,63046.497661,43.293380,0.817236,0.972544,0.080883,1.674223e+05
std,1.381587,140827.311974,12.574584,0.548138,1.420324,0.272661,1.029716e+05
min,-1.000000,-18388.949901,0.000000,0.000000,0.000000,0.000000,2.066726e+04
25%,0.000000,-2747.423625,33.000000,1.000000,0.000000,0.000000,1.030532e+05
50%,0.000000,-1203.369529,42.000000,1.000000,0.000000,0.000000,1.450179e+05
75%,1.000000,-291.095954,53.000000,1.000000,1.000000,0.000000,2.034351e+05
max,20.000000,401755.400475,75.000000,4.000000,4.000000,1.000000,2.265604e+06

1.   = -1  
2.   = 20 - 
3. dob_years   0,      
4.    days_employed,     ?
5.       401755 = 1100,7 ,   63046 = 172,7    .           
6.      ,

###  2.1

In [6]:
print("   'days_employed' < 0:", clients[clients['days_employed'] < 0].shape[0])

   'days_employed' < 0: 15906

1.  days_employed 19351,  15906   , ..  82%
 ,   , .. abs

In [7]:
clients.isna().sum() #     days_employed, total_income  2174           
a = clients['days_employed'].isna().sum()/clients['children'].count() # 10%      days_employed
b = clients['total_income'].isna().sum()/clients['children'].count()  # 10%      total_income
print('     days_employed  {:.0%}'.format(a))
print('     total_income  {:.0%}'.format(b))

     days_employed  10%
     total_income  10%

1.         
2.      .
             ,    - ,        ,     ,           .  -  ,             ,     ,     (    0).

      ,      . (not done)

In [8]:
#  days_employed  
clients['days_employed'] = clients['days_employed'].abs()
# ,   ,       2 
med_days_employed=clients['days_employed'].sort_values(ascending=False).median() # ...
med_total_income=clients['total_income'].sort_values(ascending=False).median()
# 
clients['days_employed'] = clients['days_employed'].fillna(med_days_employed)
clients['total_income'] = clients['total_income'].fillna(med_total_income)
clients.info() #,

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     21525 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      21525 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

In [9]:
#  
clients['days_employed'].median()

2194.220566878695

In [10]:
#        .  ,    ,   >50-60 
clients['years_employed'] = clients['days_employed']/365

clients[clients['years_employed']>50]['years_employed'].count() #    ,

3446

###  2.2      .

In [11]:
print("     -1 :", clients[clients['children'] == -1].count()[0])

print("     20:", clients[clients['children'] == 20].count()[0])

print("    0:", clients[clients['dob_years'] == 0].count()[0])

     -1 : 47
     20: 76
    0: 101

1.  -1,    +1,    
2.  20  ,  2,  0,     , ,  -    :D
3.  0

In [12]:
# children  0
clients['children'] = clients['children'].replace(-1,0)

In [13]:
#    ,       0,   ,      101
mean_dob_years = clients['dob_years'].mean()
clients['dob_years'] = clients['dob_years'].replace(0,mean_dob_years)

###  2.3.   .

In [14]:
clients['total_income'] = clients['total_income'].astype('int')

          ,

In [15]:
clients['days_employed'] = clients['days_employed'].astype('int')

###  2.4.  .

    ,        (   )

In [16]:
#    
clients.duplicated().sum()
#  
clients = clients.drop_duplicates().reset_index(drop=True)
clients.duplicated().sum() #

0

In [17]:
#      education
clients['education'] = clients['education'].str.lower() #   ,   
clients['education'].unique()

array(['', '', ' ', '',
       ' '], dtype=object)

In [18]:
#     
display(clients['family_status'].unique())
display(clients['gender'].unique())
display(clients['income_type'].unique())
display(clients['purpose'].value_counts())

array([' / ', ' ', ' / ',
       ' ', '  /  '], dtype=object)

array(['F', 'M', 'XNA'], dtype=object)

array(['', '', '', '',
       '', '', '', ' '],
      dtype=object)

                                   793
                       773
                            769
                    675
           662
                      652
                           652
        650
                                     646
                              646
                      638
      635
                              633
              627
            625
                       621
                        620
                 619
                               607
                  606
                 505
                496
                                494
             486
                            479
           478
                                478
                       472
                    461
                 460
                        455
                         452
                               447
       447
                      442
                     436
               426
                      408
Name: purpose, dtype: int64

1.   family_status   
2.   gender   
3.   income_type   
4.   purpose       ,

In [20]:
def replace_wrong_values(wrong_values, correct_value): #            
    for wrong_value in wrong_values: #   
        clients['purpose'] = clients['purpose'].replace(wrong_value, correct_value) #        replace()

duplicates1 = ['  ', ' '] #   
purpose1 = '' #  
duplicates2 = ['  ', '  ', '   ','   ',' ','','   ','  ','','   ','  ',' ','  ',' ',' ','  '] #   
purpose2 = '  ' #  
duplicates3 = ['   ', '   ',' ','   ','','  ',' ','  '] #   
purpose3 = '' #  
duplicates4 = ['  ', ' ',' ','  ',' ',' ','  ',' '] #   
purpose4 = '' #  
replace_wrong_values(duplicates1, purpose1)
replace_wrong_values(duplicates2, purpose2)
replace_wrong_values(duplicates3, purpose3)
replace_wrong_values(duplicates4, purpose4)

In [21]:
#   
clients['purpose'].value_counts()

      10814
                   4308
                  4014
                      2335
Name: purpose, dtype: int64

,      .
       ,
           .
    -  , -   ,     .

###  2.5.    ,   .

In [22]:
#   
edu_log = clients[['education','education_id']]
fam_log = clients[['family_status','family_status_id']]
# ,       id
edu_log = edu_log.drop_duplicates().reset_index(drop=True)
fam_log = fam_log.drop_duplicates().reset_index(drop=True)
display(edu_log)
display(fam_log)

             education  education_id
0                            0
1                           1
2                2
3                         3
4                     4

           family_status  family_status_id
0         /                  0
1                         1
2          /                  2
3                                3
4    /                   4

In [23]:
#     
#  ,       pivot table     family_status
#clients.drop(columns = ['education','family_status'], axis = 1, inplace=True) #axis1  , inplace    
clients.head(10) #

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,years_employed
0,1,8437,42.0,,0,/,0,F,,0,253875,,23.116912
1,1,4024,36.0,,1,/,0,F,,0,112080,,11.026860
2,0,5623,33.0,,1,/,0,M,,0,145885,,15.406637
3,3,4124,32.0,,1,/,0,M,,0,267628,,11.300677
4,0,340266,53.0,,1,,1,F,,0,158616,,932.235814
5,0,926,27.0,,0,,1,M,,0,255763,,2.537495
6,0,2879,43.0,,0,/,0,F,,0,240525,,7.888225
7,0,152,50.0,,1,/,0,M,,0,135823,,0.418574
8,2,6929,35.0,,0,,1,F,,0,95856,,18.985932
9,0,2188,41.0,,1,/,0,M,,0,144425,,5.996593

###  2.6.  .

In [24]:
#     
def income_group(income):
    
    if 0<=income <= 30000:
        return 'E'
    if 30001<=income <= 50000:
        return 'D'
    if 50001<=income <= 200000:
        return 'C'
    if 200001<=income <= 1000000:
        return 'B'
    return 'A' #,

In [25]:
#     apply    income_group
clients['total_income_category'] = clients['total_income'].apply(income_group)
clients.head(10) #

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,years_employed,total_income_category
0,1,8437,42.0,,0,/,0,F,,0,253875,,23.116912,B
1,1,4024,36.0,,1,/,0,F,,0,112080,,11.026860,C
2,0,5623,33.0,,1,/,0,M,,0,145885,,15.406637,C
3,3,4124,32.0,,1,/,0,M,,0,267628,,11.300677,B
4,0,340266,53.0,,1,,1,F,,0,158616,,932.235814,C
5,0,926,27.0,,0,,1,M,,0,255763,,2.537495,B
6,0,2879,43.0,,0,/,0,F,,0,240525,,7.888225,B
7,0,152,50.0,,1,/,0,M,,0,135823,,0.418574,C
8,2,6929,35.0,,0,,1,F,,0,95856,,18.985932,C
9,0,2188,41.0,,1,/,0,M,,0,144425,,5.996593,C

###  2.7.   .

In [26]:
def purpose_group(purpose):
    
    if '' in purpose:
        return '  '
    if '' in purpose: 
        return '  '
    if '' in purpose:
        return ' '
    if ''in purpose:
        return ' '
    return ' ' #  ,

In [27]:
clients['purpose_category'] = clients['purpose'].apply(purpose_group)
clients.head(10) #

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,years_employed,total_income_category,purpose_category
0,1,8437,42.0,,0,/,0,F,,0,253875,,23.116912,B,
1,1,4024,36.0,,1,/,0,F,,0,112080,,11.026860,C,
2,0,5623,33.0,,1,/,0,M,,0,145885,,15.406637,C,
3,3,4124,32.0,,1,/,0,M,,0,267628,,11.300677,B,
4,0,340266,53.0,,1,,1,F,,0,158616,,932.235814,C,
5,0,926,27.0,,0,,1,M,,0,255763,,2.537495,B,
6,0,2879,43.0,,0,/,0,F,,0,240525,,7.888225,B,
7,0,152,50.0,,1,/,0,M,,0,135823,,0.418574,C,
8,2,6929,35.0,,0,,1,F,,0,95856,,18.985932,C,
9,0,2188,41.0,,1,/,0,M,,0,144425,,5.996593,C,

###   .

#####  1:

**1.           ?**

In [28]:
clients['children'].value_counts()

0     14154
1      4809
2      2052
3       330
20       76
4        41
5         9
Name: children, dtype: int64

In [29]:
clients_piv1 = clients.pivot_table(index = ['children'],columns = 'debt', values = 'income_type', aggfunc = 'count')
clients_piv1['ratio'] = clients_piv1[1]/(clients_piv1[0]+clients_piv1[1])*100
clients_piv1

debt            0       1      ratio
children
0         13090.0  1064.0   7.517310
1          4365.0   444.0   9.232689
2          1858.0   194.0   9.454191
3           303.0    27.0   8.181818
4            37.0     4.0   9.756098
5             9.0     NaN        NaN
20           68.0     8.0  10.526316

1.   ,      0  1   debt. ,  1  , 0 .
2.    NaN    5 ,     
3.  ,     ,    
4.      
5.         - ,    10%
6.  ,  20   2  0,

**2.           ?**

In [30]:
clients['family_status'].value_counts()

 /           12344
           4163
  /       2810
                  1195
 /              959
Name: family_status, dtype: int64

In [31]:
clients_piv2 = clients.pivot_table(index = ['family_status'],columns = 'debt', values = 'income_type', aggfunc = 'count')
clients_piv2['ratio'] = clients_piv2[1]/(clients_piv2[0]+clients_piv2[1])*100
clients_piv2.sort_values(by = 'ratio')

debt                       0    1     ratio
family_status
 /            896   63  6.569343
                1110   85  7.112971
 /         11413  931  7.542126
         3775  388  9.320202
  /     2536  274  9.750890

1.       
2. ,   /    ,    
3.  ,     ( / )

**3.           ?**

In [32]:
#      ,            25%
#clients.describe()
clients

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,years_employed,total_income_category,purpose_category
0,1,8437,42.0,,0,/,0,F,,0,253875,,23.116912,B,
1,1,4024,36.0,,1,/,0,F,,0,112080,,11.026860,C,
2,0,5623,33.0,,1,/,0,M,,0,145885,,15.406637,C,
3,3,4124,32.0,,1,/,0,M,,0,267628,,11.300677,B,
4,0,340266,53.0,,1,,1,F,,0,158616,,932.235814,C,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21466,1,4529,43.0,,1,,1,F,,0,224791,,12.409087,B,
21467,0,343937,67.0,,1,/,0,F,,0,155999,,942.294258,C,
21468,1,2113,38.0,,1,,1,M,,1,89672,,5.789991,C,
21469,3,3112,38.0,,1,/,0,M,,1,244093,,8.527347,B,
21470,2,1984,40.0,,1,/,0,F,,0,82047,,5.437007,C,

In [33]:
#def group_income(sal):
#    if 20667 <=sal <= 107654.5:
#        return ' '
#    if 107654.5 <sal <= 145017:
#        return ' '
#    if 145017 <sal <= 195751.5:
#        return ' '
#    if 195751.5 <sal <= 2265604:
#        return '  '

In [34]:
#clients['income_status'] = clients['total_income'].apply(group_income)
#clients.head(10) #

In [35]:
clients_piv3 = clients.pivot_table(index = ['total_income_category'],columns = 'debt', values = 'total_income', aggfunc = 'count')
clients_piv3['ratio'] = clients_piv3[1]/(clients_piv3[0]+clients_piv3[1])*100
#clients_piv3.sort_values(by = 'ratio')
clients_piv3

debt                       0     1     ratio
total_income_category
A                         23     2  8.000000
B                       4685   356  7.062091
C                      14673  1360  8.482505
D                        329    21  6.000000
E                         20     2  9.090909

1.     ( )    
2.       
3.            , ,     ,      ,    ,      .

**4.          ?**

In [36]:
clients['purpose_category'].value_counts()

      10814
         4308
         4014
            2335
Name: purpose_category, dtype: int64

In [37]:
clients_piv4 = clients.pivot_table(index = ['purpose_category'],columns = 'debt', values = 'income_type', aggfunc = 'count')
clients_piv4['ratio'] = clients_piv4[1]/(clients_piv4[0]+clients_piv4[1])*100
clients_piv4.sort_values(by = 'ratio')

debt                          0    1     ratio
purpose_category
    10032  782  7.231367
          2149  186  7.965739
       3644  370  9.217738
       3905  403  9.354689

1.       ,         
2.       ,       
3.  ,     ,    
4. ,  ,

##  :

   -   .   +-       .             .
,          :  / , .         ,       .

 ,       ,  :
-       
-   :   ,    
-     
-   
-   ,       ( 1000 , 20   ..)    
-